@import "themes/tokyonight.css";
* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif, Mononoki Nerd Font;
    font-size: 10px;
}

window#waybar {
    background-color: @black; 
    color: @black;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#tags {
    margin-top: 2px;
	margin-left: 6px;
	font-size: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: @black;
	transition: none;
}

#window {
    color: @white;
    margin-top: 4px;
    font-size: 13px;
    margin-left: 7px;
}

#window.focused {
    color: @white;
    margin-top: 4px;
    font-size: 13px;
    margin-left: 7px;
}

#tags button {
    padding: 0 5px;
    background-color: @black;
    color: @white;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#tags button:hover {
    background: @darkblack;
    box-shadow: inset 0 -3px @black;
}

#tags button.occupied {
    color: @red;
    background: transparent;
}

#tags button.focused {
    background-color: @darkblack;
    color: @blue;
    box-shadow: inset 0 -3px @black;
}

#workspaces {
    padding: 0 5px;
    margin-top: 2px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: @black;
	transition: none;
	font-family: Iosevka Nerd Font
}

#workspaces button {
    padding: 0 3px;
    background-color: @black;
    color: @white;
    border: none;
    border-radius: 30;
}

#workspaces button:hover {
    background: @darkblack;

}

#workspaces button.active {
    box-shadow: inset 0 -3px @black;
    color: @blue;
}

#custom-clock,
#custom-calendar,
#custom-storage,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-power,
#mpd {
    padding: 0 10px;
    color: @lightwhite;
    border-radius: 20px;
    margin-top: 2px;
    font-size: 10px;
    margin-right: 5px;
}

#custom-power {
    margin-left: 5px;
}

#custom-clock {
    background-color: @widgetbg;
    color: @cyan;
}

#custom-storage {
    background-color: @widgetbg;
    color: @purple;
}

#custom-calendar {
    background-color: @widgetbg; 
    color: @red;
}

#battery {
    background-color: @widgetbg; 
    color: @green;
}

#battery.charging, #battery.plugged {
    color: @green;
    background-color: @widgetbg; 
}

@keyframes blink {
    to {
        background-color: @widgetbg;
        color: @widgetbg;
    }
}

#battery.critical:not(.charging) {
    background-color: @widgetbg; 
    color: @green;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @widgetbg;
}

#cpu {
    background-color: @widgetbg; 
    color: @blue;
}

#memory {
    background-color: @widgetbg; 
    color: @cyan;
}

#pulseaudio {
    background-color: @widgetbg; 
    color: @red;
}

#pulseaudio.muted {
    background-color: @widgetbg; 
    color: @red;
}

#custom-power {
    background-color: @widgetbg;
    color: @purple;
}

#temperature {
    background-color: @widgetbg; 
    color: @orange;
}

#temperature.critical {
    background-color: @widgetbg; 
    color: @orange;
}

